body{
   

    background-image: url(http://m.blog.hu/la/lauren/image/comics-1.jpg)
    

}

.navbar-brand{
    font-family: 'Faster One', cursive;
    font-size: 50px; 

}
.navbar{
    background-color: red !important;
    font-family: 'Freckle Face', cursive;
     font-size: 25px;


}
.container1{
    
    color:white;
    font-family: 'Freckle Face', cursive;
    font-size: 25px;
    margin-top: 30px;
   
    
    
    

}
.jumbotron{
    color: red !important;
    font-weight: 100;
    font-size: 25px;
    font-family: 'Bungee Inline', cursive;
    margin-top: 20px;
   
}

#userPanel{
    margin-top: 22px;
}
.card-header{
    background-color:  red !important;
    color:white;
    font-family: 'Freckle Face', cursive;
    font-size: 25px;
}

#myArticles{
    font-family: 'Freckle Face', cursive;
    font-size: 20px;

}

.card{
    font-family: 'Freckle Face', cursive;
    background-color: red;
    color: white;
}

.articleLink{
    color:yellow;
    margin-right: 10px;
}

.articleDescription{
    font-size: 20px;
}

.articleTitle{
    font-size: 30px;
    font-weight: bold;
}